version: '3'

services:

  server:
    build:
      context: ./ui
    image: ${EXPERIMENT}/server
    entrypoint: ["./start.sh"]
    ports:
      - "8080:8080"
    volumes:
      - ./experiments/${EXPERIMENT}/model:/data:ro
    environment:
      - CHECK=${EXPERIMENT:?You need to define a value for EXPERIMENT.}

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:6.6.1"
    environment:
      discovery.type: "single-node"
    expose:
      - "9200"

  indexer:
    build:
      context: ./ui/indexer
    image: ${EXPERIMENT}/indexer
    depends_on:
      - "elasticsearch"
    command: ["/utils/wait-for-it.sh", "elasticsearch:9200",
      "--timeout=0",
      "--", "/utils/index.py",
      "data/model/vocabulary_ids.txt",
      "data/model/vocabulary_bow.txt",
      "elasticsearch"]
    volumes:
      - ./experiments/${EXPERIMENT}:/data:ro
    environment:
      - CHECK=${EXPERIMENT:?You need to define a value for EXPERIMENT.}

  usercreator:
    build:
      context: ./ui/usercreator
    image: ${EXPERIMENT}/usercreator
    depends_on:
      - server
    command: [
        "/utils/wait-for-it.sh", "server:8080", "--timeout=0",
        "--",
        "/usr/bin/curl", "-X", "POST", "http://server:8080/users", "-d", "${FRONTEND_USER:-demo}"
    ]
